.content{
    grid-area: content;
}

.background{
    position: relative;
    height: 300px;
    overflow: hidden;
}
.imgBackground{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(0, -50%)
}
.content{
    background: #61dafb;
}
.accountInfo{
    background: coral;
}
.accountImg{
    max-height: 100px;
}